version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: simon123
      MYSQL_DATABASE: auth_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10


  auth-service:
    build:
      context: ./AuthService
      dockerfile: Dockerfile
    container_name: auth-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
    env_file:
      - ./AuthService/.env
    ports:
      - "5001:80"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network


  product-service:
    build:
      context: ./ProductService
      dockerfile: Dockerfile
    container_name: product-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
    env_file:
      - ./ProductService/.env
    ports:
      - "5002:80"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network


  
  order-service:
    build:
      context: ./OrderService
      dockerfile: Dockerfile
    container_name: order-service
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+80
    env_file:
      - ./OrderService/.env
    ports:
      - "5003:80"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network



  api-gateway:
    build:
      context: ./ApiGateway
      dockerfile: Dockerfile
    container_name: api-gateway
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
    env_file:
      - ./ApiGateway/.env
    ports:
      - "8080:80"
    depends_on:
      - auth-service
      # - product-service
      # - order-service
    networks:
      - app-network


volumes:
  mysql_data:



networks:
  app-network:
    driver: bridge